<section class="all-recipes-page">
  <header class="page-header">
    <div class="header-left">
      <a routerLink="/" class="logo-link" aria-label="Zurück zur Startseite">
        <img src="assets/logo-green.svg" alt="Code à Cuisine" class="logo" />
      </a>
      <a (click)="goBack()" class="back-btn" style="cursor: pointer">
        <img src="assets/icons/arrow-right-green.svg" alt="" class="back-arrow" />
        <span class="back-text">Cookbook</span>
      </a>
    </div>
    <div class="header-right desktop-only">
      <button class="generate-btn" routerLink="/generate-recipe">Generate a recipe</button>
    </div>
  </header>

  <div class="banner-container" *ngIf="bannerImage">
    <picture>
      <source media="(max-width: 480px)" [srcset]="getMobileBannerImage(cuisineCategory)">
      <img [src]="bannerImage" [alt]="cuisineCategory" class="banner-img" />
    </picture>
  </div>

  <div class="recipe-list" *ngIf="recipes$ | async as recipes">
    <div
      class="recipe-item"
      *ngFor="let recipe of recipes; let i = index"
      [routerLink]="['/recipe-view', recipe.id]"
      [queryParams]="{ from: 'cookbook' }"
    >
      <div class="item-left">
        <div class="item-number">{{ (currentPage - 1) * pageSize + i + 1 }}.</div>
        <div class="item-content">
          <div class="item-time">
            <img src="assets/icons/clock.svg" alt="Time" /> Cooking time: {{ recipe.cookingTime }}
          </div>
          <h2 class="item-title">{{ recipe.title }}</h2>
        </div>
      </div>

      <div class="item-right">
        <span class="tag" *ngIf="recipe.dietPreferences">{{ recipe.dietPreferences }}</span>
        <span class="tag">Quick</span>
        <span class="tag heart-tag">
          <img src="/assets/icons/heart-dark.svg" alt="Heart" /> {{ recipe.likes }}
        </span>
      </div>
    </div>

    <!-- Dynamic Pagination -->
    <div class="pagination" *ngIf="totalPages > 1">
      <span (click)="prevPage()" [class.disabled]="currentPage === 1">&lt;</span>

      <ng-container *ngFor="let page of getVisiblePages()">
        <span
          *ngIf="page !== 'ellipsis' && page !== 'ellipsis-prev' && page !== 'ellipsis-next'"
          [class.active]="currentPage === page"
          (click)="setPage(page)"
        >
          {{ page }}
        </span>
        <span
          *ngIf="page === 'ellipsis' || page === 'ellipsis-prev' || page === 'ellipsis-next'"
          class="ellipsis-item"
          (click)="onEllipsisClick(page)"
        >
          ...
        </span>
      </ng-container>

      <span (click)="nextPage()" [class.disabled]="currentPage === totalPages">&gt;</span>
    </div>
    <div class="mobile-generate-btn-container mobile-only">
      <button class="generate-btn" routerLink="/generate-recipe">Generate recipe</button>
    </div>
  </div>
</section>
