@media (max-width: 480px) {

  // ===================== HEADER =====================

  .loading-header {
    top: 24px;
    left: 16px;
  }

  .loading-logo {
    width: 100px;
  }

  // ===================== SPINNER =====================

  .loading-spinner {
    width: 220px;
    height: 280px;
  }

  // ===================== TEXT =====================

  .loading-text {
    font-size: 28px;
  }
}
